<!DOCTYPE html>
<html>
    <head>
        <title>Binlistdata - Green Devil Apps</title>
    </head>
    <body>
        Welcome! Please see <a href="http://github.com/greendevilapps/binlistdata">github for more info</a>.
        <footer>
            <small>
                &copy; Green Devil Apps 2015-2017
            </small>
        </footer>
    </body>
</html>
